body{
font-family:Arial, sans-serif;
margin:0;
background:#0f172a;
color:white;
}
.header-left h2 {
  margin-left:30px;
  color: #38bdf8;
  font-size: 25px;
  text-align:left
}

/* Center Content */
.header-center {
  text-align:left;
  flex: 1;
}
/* Header */

header{
text-align:center;
padding:30px;
background:#020617;
}

header h1{
margin:0;
font-size:32px;
}

#searchBox{
margin-top:20px;
padding:12px;
width:260px;
border-radius:6px;
border:none;
outline:none;
}

/* Movie Grid */

.container{
display:grid;
grid-template-columns: repeat(3, 1fr); /* 3 movies per row */
gap:20px;
padding:20px;
}
/* Movie Card */

.movie-card{
background:#1e293b;
border-radius:15px;
overflow:hidden;
transition:0.3s;
box-shadow:0 5px 15px rgba(0,0,0,0.4);
}

.movie-card:hover{
transform:translateY(-8px);
box-shadow:0 15px 25px rgba(0,0,0,0.6);
}

/* Movie Image */

.movie-card img{
width:100%;
height:240px;
object-fit:cover;
object-position:center 60%;
border-radius: 10px;
margin-top:10px;
}

/* Movie Info */

.movie-info{
padding:15px;
}

.movie-info h3{
margin:0;
font-size:20px;
}

.genre{
color:#94a3b8;
font-size:14px;
margin-top:5px;
}

.year{
font-size:13px;
margin-top:5px;
}

/* Rating */

.rating{
margin-top:10px;
}

.star{
font-size:22px;
cursor:pointer;
color:#64748b;
transition:0.2s;
}

.star:hover{
color:gold;
transform:scale(1.2);
}

.active-star{
color:gold;
}

.average{
margin-top:8px;
font-size:13px;
color:#cbd5f5;
}
/* Responsive Typography */
@media (max-width: 768px) {
  header h1 {
    font-size: 28px;
  }
  #searchBox {
    width: 80%;
  }
  .movie-card img {
    height: 180px;
  }
}

@media (max-width: 480px) {
  header h1 {
    font-size: 24px;
  }
  .movie-card img {
    height: 150px;
  }
  .movie-info h3 {
    font-size: 18px;
  }
  .star {
    font-size: 18px;
  }
  .container {
    gap: 15px;
  }
}
@media (max-width: 768px) {
  .header {
    flex-direction: column;
    text-align: center;
  }

  .header-left {
    margin-bottom: 10px;
  }
}
/* Footer */

footer {
  text-align: center;
  padding: 15px;
  background: #020617;
  color: #94a3b8;
  font-size: 14px;
  margin-top: 20px;
  border-top: 1px solid #1e293b;
}

footer p {
  margin: 0;
}